{{ define "main" }}

<div class="col-md-12 entry">
  <div class="row">
    <div class="col-md-12">
      <div class="entry-meta">
        {{ .Date.Format "January 02" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="entry-header">
       {{ .Title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="entry-sidebar">
        {{ if and (isset .Params "client") .Params.client }}
        <div class="entry-sidebar-group">
          <div class="entry-sidebar-title">CLIENT</div>
          <div class="entry-tags">{{ .Params.client }}</div>
        </div>
        {{ end }}
        
        {{ if and (isset .Params "credit") .Params.credit }}
        <div class="entry-sidebar-group">
          <div class="entry-sidebar-title">CREDIT</div>
          <div class="entry-tags">{{ .Params.credit }}</div>
        </div>
        {{ end }}
        
        {{ if .Params.types }}
        <div class="entry-sidebar-group">
          <div class="entry-sidebar-title">Types</div>
          {{ range .Params.types }}
          <div class="entry-tags">
            <a href="/types/{{ . | urlize }}">{{ . }}</a>
          </div>
          {{ end }}
        </div>
        {{ end }}
        
        {{ if .Params.roles }}
        <div class="entry-sidebar-group">
          <div class="entry-sidebar-title">Roles</div>
          {{ range .Params.roles }}
          <div class="entry-tags">
            <a href="/roles/{{ . | urlize }}">{{ . }}</a>
          </div>
          {{ end }}
        </div>
        {{ end }}
        
        {{ if .Params.skills }}
        <div class="entry-sidebar-group">
          <div class="entry-sidebar-title">Skills</div>
          {{ range .Params.skills }}
          <div class="entry-tags">
            <a href="/skills/{{ . | urlize }}">{{ . }}</a>
          </div>
          {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-10">
      <div class="entry-content">
        {{ .Content }}
      </div>
    </div>
  </div>

  <hr/>
  {{ template "_internal/disqus.html" . }}

</div>
{{ end }}
