<!-- <div class="row">
  <div class="col-md-12">
    <div class="menu">
    <a href="/">Home /</a>
    {{ range $name, $taxonomy := .Site.Sections }}
    {{ if ne $name "post" }}
    <a href="/{{ $name | urlize }}">{{ $name }} / </a>
    {{ end }}
    {{ end }}
    </div>
  </div>
</div> -->
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="title-info">
      {{ with .Site.Title }}
      <h1> {{ . }} </h1>
      {{ end }}
    </div>
    <div class="title-about">
      {{ range .Site.Params.sidebarAbout }}
      <p>{{ . | safeHTML }}</p>
      {{ end }}
    </div>
	</div>
</div>
