<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="title-info">
      {{ with .Site.Title }}
      <h1> {{ . }} </h1>
      {{ end }}
    </div>
    <div class="title-about">
      {{ range .Site.Params.sidebarAbout }}
      <p>{{ . | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-10 category-header">
  <a href="">CATEGORY: All</a>
  </div>
</div>-->

<div class="row">
  <div class="col-md-10 category-description">
  </div>
</div>

{{ range $index, $element := (where .Data.Pages "Section" "post") }}
<div class="row content">
  {{ if and (isset .Params "image") .Params.image }}
  <a href="{{ .Permalink }} ">
    <div class="col-sm-6 content-image" style="background-image: url({{ .Params.image }})">
    </div>
  </a>
  <div class="col-sm-6 content-excerpt">
  {{ else }}
  <div class="col-sm-12 content-excerpt">
  {{ end }}
    <div class="row">
      <div class="col-md-12">
        <div class="row content-date">
          {{ .Date.Format "January 2006" }}
        </div>
        <div class="row content-title">
          <h2> <a href="{{ .Permalink }} "> {{ .Title }} </a> </h2>
        </div>
        <div class="row content-summary">
          {{ .Summary }}
          <a class="more-link" href="{{ .Permalink }} ">- Read more about this project -</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
